#menu-h {
    text-align: center;
    
}

#img-h {
    display: inline-flex;

}

#moto-h {
    text-align: center;
}

#magnata-h {
    text-align: center;
}

#top-h {
    text-align: center;
}
#shogun-h {
    text-align: center;
}